PORT=3000
ARK_API_KEY=your_ark_api_key
ARK_API_ENDPOINT=https://ark.cn-beijing.volces.com/api/v3/chat/completions
ARK_MODEL=doubao-1-5-vision-pro-32k-250115
ASR_API_KEY=your_asr_api_key
ASR_API_URL=https://openspeech.bytedance.com/api/v3/auc/bigmodel/recognize/flash
ASR_RESOURCE_ID=volc.bigasr.auc_turbo
MAX_JSON_BODY=200mb
REQUEST_TIMEOUT_MS=120000
